<div class="hero-unit">
  <h1 id="random_rule"><%= @rule.rule_text %></h1>
  <br />
  <p>
    <%= link_to "Give me another!", :root, :remote => true, :update => 'random_rule', :class => "btn btn-primary btn-large" %>
  </p>
</div>
<div class="row">
  <div class="span12">
    <h2>Don't like our suggestions? Add one of your own!</h2>
    <%= render "form" %>
  </div>
</div>