<div class="hero-unit">
  <h2>Who goes first?</h2>
  <h1><%= @rule.rule_text %></h1>
  <br />
  <p>
    <%= link_to "Give me another!", :root, :class => "btn btn-primary btn-large" %>
  </p>
</div>
<div class="row">
<div class="span12">
<%= render "form" %>
</div>
</div>