<div class="hero-unit">
  <% if @rule %>
    <h1 id="rule"><%= @rule.rule_text %></h1>
  <% else %>
    <h1>No rules yet :(</h1>
  <% end %>
  <br />
  <p>
    <%= link_to "Give me another!", :root, :remote => params[:action] == 'random', :class => "btn btn-primary btn-large" %>
    <%= link_to "permalink for this rule", rule_path(@rule), :id => "rule-permalink" if params[:action] == 'random' %>
  </p>
</div>