<div class="well">
  <p>Who Goes First was created by <a href="http://davidunderwood.me">David Underwood</a> as a tool to help and entertain those who have trouble deciding who should take the first turn when playing boardgames.</p>
  <p>The site is designed to work well on both large and small screens. Try opening it on your smartphone or tablet.</p>
  <p>If you have rules of your own or would like to give me feedback, please do so.</p>
  <p>Thanks!</p>
</div>